/* region logo */

#initials {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    opacity: 100%;
}

.logo-ratio div {
    background-attachment: local;
    opacity: 0;
}

#logo-1 {
    background-position: calc(-100% * 3) calc(-100%);
}

#logo-2 {
    background-position: calc(-100% * 7) 50%;
}

#logo-3 {
    background-position: calc(-100% * 10) calc(-100% / 3 * 6.5);
}

#logo-4 {
    background-position: calc(-100% * 13) calc(-100% / 3 * 6.5);
}

#logo-1, #logo-3, #logo-4 {
    background-size: calc(100% * 16) calc(100% * 9 / 3);
    /*background-size: 150% 150%;*/
}

#logo-2 {
    background-size: calc(100% * 16) calc(100% * 9 / 7);
    /*background-size: 100%;*/
}

/* endregion logo */

/* region bio */

#bio {
    background-image: linear-gradient(45deg, #3d5e90, #3d8490);
}

.state {
    position: absolute;
    width: auto;
}

.state img {
    width: 100%;
    height: 100%;
}

#illinois {
    top: 10%;
    right: 2%;
    width: 15%;
}
#california {
    bottom: 10%;
    left: 2%;
    width: 15%;
}

#path-dots {
    width: 100%;
    height: 100%;
}

#path-dots div {
    width: 1vw;
    height: 1vw;
    opacity: 0;
    border-radius: 20px;
    background: #000000;
    position: absolute;
}

/* endregion bio */

/* region dev */

#developer {
    background-image: linear-gradient(45deg, #3d6c35, #5f8231);
}

.dev-row {
    height: 25%;
    width: 100%;
    position: absolute;
    left: 0;
    font-family: monospace;
    color: black;
}

.vertical-center {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.dev-icon {
    width: 7em;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.dev-code {
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
}

#laptop-row {
    top: 0;
}

#controller-row {
    top: 25%;
    text-align: right;
}

#phone-row {
    top: 50%;
}

#desktop-row {
    top: 75%;
    text-align: right;
}

/* endregion dev */

/* region usc */

#usc {
    background-image: linear-gradient(45deg, #6f242d, #974b34);
}

#cap-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

#usc .decor div {
    flex: 1;
    text-align: center;
    position: relative;
}

#usc .decor div img {
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* endregion usc */