/* region logo */
.logo-ratio div {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    filter: saturate(0%);
}

.coin1 {
    background-image: url('../img/coins/coin1.png');
}

.coin2 {
    background-image: url('../img/coins/coin2.png');
}

.coin3 {
    background-image: url('../img/coins/coin3.png');
}

.coin4 {
    background-image: url('../img/coins/coin4.png');
}

.big-coin1 {
    background-image: url('../img/coins/big-coin1.png');
}

.big-coin2 {
    background-image: url('../img/coins/big-coin2.png');
}

.big-coin3 {
    background-image: url('../img/coins/big-coin3.png');
}

.big-coin4 {
    background-image: url('../img/coins/big-coin4.png');
}

/* endregion logo */

/* region spective */

#spective {
    background-image: linear-gradient(45deg, #414450, #848792);
}

.phone {
    width: 80%;
    margin: 10%;
}

.target {
    width: min(500px, 80vw);
    height: min(500px, 80vw);
    position: absolute;
}

#target-left {
    left: min(100px, 10vw);
    top: 50px;
}

#target-right {
    right: min(100px, 10vw);
    bottom: 50px;
}

/* endregion spective */

/* region rotator */
#rotator {
    background-image: linear-gradient(45deg, #2c2953, #484d8b);
}

.rot-container {
    height: 400px;
    width: 400px;
    position: absolute;
}

#rot-cont-tl {
    top: 0;
    left: 0;
}

#rot-cont-tr {
    top: 0;
    right: 0;
}

#rot-cont-br {
    bottom: 0;
    right: 0;
}

#rot-cont-bl {
    bottom: 0;
    left: 0;
}

/* endregion rotator*/

/* region wordflop */
#wordflop {
    background-image: linear-gradient(45deg, #245046, #3da3b1);
}

#wf-words {
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
    font-family: monospace;
    font-weight: 100;
    font-size: 3.2em;
    color: rgba(0, 0, 0, 0.7);
}

#wf-words div {
    display: inline-block;
    position: absolute;
}

#wf-placeholder {
    opacity: 0;
}

/* endregion wordflop */

/* region check-it-out */
#check-it-out {
    background-image: linear-gradient(45deg, #9c6443, #eeb2aa);
}

#item-parent {
    position: absolute;
    width: 100%;
    height: 100%;
}

#item-parent img {
    position: absolute;
    width: 100px;
    height: 100px;
}

/* endregion check-it-out */

/* region wishy-washy */
#wishy-washy {
    background-image: linear-gradient(45deg, #4c5a9e, #6FA0DE);
}

#buildings-parent {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* endregion wishy-washy */