/* region logo */

.logo-ratio div {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    filter: saturate(0%);
}

.coin1 {
    background-image: url('../img/coins/coin1.png');
}

.coin2 {
    background-image: url('../img/coins/coin2.png');
}

.coin3 {
    background-image: url('../img/coins/coin3.png');
}

.coin4 {
    background-image: url('../img/coins/coin4.png');
}

.big-coin1 {
    background-image: url('../img/coins/big-coin1.png');
}

.big-coin2 {
    background-image: url('../img/coins/big-coin2.png');
}

.big-coin3 {
    background-image: url('../img/coins/big-coin3.png');
}

.big-coin4 {
    background-image: url('../img/coins/big-coin4.png');
}

/* endregion logo */

/* region spective */

#spective {
    background-image: linear-gradient(45deg, #414450, #848792);
}

.phone {
    width: 80%;
    margin: 10%;
}

/* endregion spective */

/* region rotator */

#rotator {
    background-image: linear-gradient(45deg, #2c2953, #484d8b);
}

/* endregion rotator*/

/* region rotator */

#wordflop {
    background-image: linear-gradient(45deg, #245046, #32919e);
}

/* endregion rotator */

/* region check-it-out */

#check-it-out {
    background-image: linear-gradient(45deg, #72432e, #c68b26);
}

/* endregion check-it-out */

/* region wishy-washy */

#wishy-washy {
    background-image: linear-gradient(45deg, #4c5a9e, #6FA0DE);
}

/* endregion wishy-washy */