/* region logo */

#logo-1, #logo-2, #logo-3, #logo-4 {
    background-color: black;
}

.logo-ratio div div {
    background-color: pink;
    width: 75%;
    height: 12.5%;
    margin: 0 auto;
    margin-top: 10.5%;
    position: relative;
    border-radius: 10%;
    visibility: hidden;
}

#logo-2 div {
    height: 5.54%;
}

/* endregion music */

/* region equinox */

#equinox {
    background-image: linear-gradient(45deg, #102d5a, #2f5b7d);
}

/* endregion equinox */

/* region settlers */

#settlers {
    background-image: linear-gradient(45deg, #724632, #cb9942);
}

/* endregion settlers */

/* region ddr */

#ddr {
    background-image: linear-gradient(45deg, #51186B, #8F35C4);
}

/* endregion ddr */

/* region check-it-out */

#check-it-out {
    background-image: linear-gradient(45deg, #9c6443, #eeb2aa);
}

/* endregion check-it-out */

/* region sinking-inn */

#sinking-inn {
    background-image: linear-gradient(45deg, #2a4e4d, #578995);
}

/* endregion sinking-inn */

/* region spooky-speakeasy */

#spooky-speakeasy {
    background-image: linear-gradient(45deg, #923b8d, #e1a2e7);
}

/* endregion spooky-speakeasy */