#logo-1, #logo-2, #logo-3, #logo-4 {
    background-color: transparent;
    overflow-wrap: break-word;
    font-family: Consolas, monospace;
    color: lime;
    box-sizing: border-box;
    font-size: 50%;
}

.fade-out {
    opacity: 0;
    transition: opacity 50s linear;
}